<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.xmltosqlconverter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>XML to SQL Converter</name>
    <description>
        Convert XML to JSON and generate SQL schema
    </description>
    <author email="your@email.com" href="https://yourwebsite.com">
        Your Name
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="www/res/icon/ios/icon-57.png" width="57" height="57" />
        <icon src="www/res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="www/res/icon/ios/icon-76.png" width="76" height="76" />
    </platform>
    
    <plugin name="cordova-plugin-file" spec="^6.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.0" />
</widget>